.container {
  height: calc(
    100vh - 64px
  ); /* Subtract the toolbar height from the container height */
}

mat-toolbar {
  height: 64px; /* Set a fixed height for the toolbar */
}

mat-sidenav {
  width: 240px;
  background-color: #333;
  color: #fff;

  mat-nav-list {
    padding-top: 20px; /* Add some top padding for the menu items */
  }

  a.mat-list-item {
    padding: 12px 24px; /* Adjust the padding for the menu items */
  }
}

@media (max-width: 600px) {
  mat-sidenav {
    width: 200px; /* Decrease the width of the menu for smaller screens */
  }
}
