<mat-toolbar>
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Landing Page Generator</span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav
    [(opened)]="isDrawerOpen"
    (closed)="isDrawerOpen = false"
    mode="side"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        Form generator
      </a>

      <hr />
      <a
        class="created-page"
        mat-list-item
        *ngFor="let page of pages$ | async"
        [routerLink]="'/landing-page/' + page.id"
        routerLinkActive="active"
      >
        {{ page.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
