.container {
  height: calc(100vh - 64px);
}

mat-toolbar {
  height: 64px;
}

mat-sidenav {
  width: 240px;
  background-color: #333;
  color: #fff;

  mat-nav-list {
    padding-top: 20px;

    .created-page {
      padding: 12px 24px;
      transition: background-color 0.2s ease;
    }

    .created-page:hover {
      background-color: rgb(26, 124, 180);
      color: #fff;
    }
  }

  a.mat-list-item {
    padding: 12px 24px;
  }
}

@media (max-width: 600px) {
  mat-sidenav {
    width: 10rem;
  }
}
